<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body class="bg-green-500">
<div class="container mx-auto px-4 w-10/12">
    <h2 class="text-5xl text-green-900">首页</h2>
    <ul>
        <li><a href="">1.一个简单的视图</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</div>
</body>
</html>